.list-item {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	align-items: center;
	margin: 2rem 0;
	img {
		width: 120px;
		height: 120px;
		object-fit: cover
	}
	a {
		margin: auto;
	}
	.quantity-container {
		display: flex;
		button {
			margin: 0 1rem;
		}
	}
}
