.filters-container {
	select {
		border: none;
        background-color: #ecedef;
        padding: 0.5rem 2rem;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom-color: #fc9003;
		}
	}
}
