.product-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		'img img'
		'display display'
		'price btn';
	align-items: center;
	padding: 1rem;
	img {
		width: 100%;
		aspect-ratio: 1;
		grid-area: img;
	}
	h4 {
		grid-area: display;
	}
	p {
		grid-area: price;
	}
	button {
		grid-area: btn;
        text-align: end;
	}
}
