.product-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		'img img'
		'display display'
		'price btn';
	align-items: center;
	overflow: hidden;
	box-shadow: 0 0 7px 1px var(--secondary);
	padding: 0.5rem;
	border-radius: 5px;
	.image-link {
		grid-area: img;
		height: 35vw;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	.name-link {
		grid-area: display;
	}
	p {
		grid-area: price;
	}
	button {
		grid-area: btn;
		text-align: end;
	}
	h4 {
		color: #fc9003;
		text-transform: capitalize;
	}
}

@media screen and (min-width: 600px) {
	.product-wrapper {
		.image-link {
			height: 20vw;
		}
	}
}
