* {
	--primary: #fc9003;
	--secondary: rgb(28, 28, 28);
	--border-radius: 7px;
}

//header
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 5;
	font-size: 1rem;
	a,
	.fas {
		color: white;
		user-select: none;
	}
	#store-name {
		span {
			color: var(--primary);
			font-size: 1.3rem;
			font-weight: 700;
			text-transform: uppercase;
			
		}
	}
	.navbar {
		height: var(--header-size);
		background-color: var(--secondary);
		position: relative;
		.navbar-nav {
			max-width: 1200px;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: auto;
			span {
				font-size: 1rem;
			}
			#store-name {
				font-size: 1.5rem;
				width: fit-content;
			}
			.nav-item {
				position: relative;
				height: var(--header-size);
				display: flex;
				align-items: center;
				justify-content: center;
				.dropdown {
					user-select: none;
					display: flex;
					align-items: center;
					li {
						a {
							text-align: center;
						}
					}
				}
			}
			.logged-in {
				position: absolute;
				top: var(--header-size);
				right: 0.5rem;
			}
		}
	}
}
@media screen and (max-width: 699px) {
	.navbar-nav {
		#shop-link,
		#burger-menu {
			width: 3rem;
		}
		.nav-item {
			.dropdown {
				background-color: var(--primary);
				position: absolute;
				top: var(--header-size);
				left: 0;
				width: 30vw;
				height: 100vh;
				padding: 1rem;
				flex-direction: column;
				.nav-item,
				a {
					color: black;
				}
			}
		}
	}
}
@media screen and (min-width: 700px) {
	.fa-bars {
		display: none;
	}
	.navbar-nav {
		justify-content: end;
		li {
			margin: 1rem;
		}
		.dropdown li:last-child {
			margin-right: 0;
		}
	}
	#store-name {
		order: 1;
		margin-right: auto;
	}
	#shop-link {
		order: 3;
	}
	#burger-menu {
		order: 2;
	}
}
