.products-main {
	max-width: 1200px;
	margin: auto;
	padding-top: 1.4rem;
	.filters {
		display: flex;
		margin-top: 0.5rem;
		justify-content: space-evenly;
	}
	.products-display {
		display: grid;
		grid-template-columns: repeat(2, 40vw);
		grid-gap: 1rem;
		justify-content: center;
		margin-top: 2rem;
	}
}
@media screen and (min-width: 600px) {
	.products-main {
		.products-display {
			grid-template-columns: repeat(3, 25vw);
			grid-gap: 1rem;
			padding: 1rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.products-main {
		.products-display {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 3rem;
			padding: 1rem 3rem;
		}
	}
}
