* {
	--primary: #fc9003;
	--primary-light: #ffa734;
	--secondary: rgb(28, 28, 28);
	--footerSize: 2.5rem;
	--header-size: 3rem;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
}
html {
	font-size: 14px;
}
html,
body {
	box-sizing: border-box;
}
body {
	min-height: 100%;
	margin-top: var(--header-size);
	font-family: 'Poppins', sans-serif;
}
a,
li {
	font-size: 0.8rem;
	text-decoration: none;
	list-style: none;
	user-select: none;
}
li:hover,
button {
	cursor: pointer;
}
a,
button,
li {
	-webkit-tap-highlight-color: transparent;
}
button {
	border: none;
	outline: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
	user-select: none;
}
.main {
	min-height: calc(100vh - var(--footerSize) - var(--header-size));
	position: relative;
	padding-bottom: var(--footerSize);
}

.fas {
	font-size: 1rem;
}

// scrollbars
::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}
::-webkit-scrollbar-thumb:vertical {
	background: rgb(75, 75, 75);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
	background: rgb(75, 75, 75);
	border-radius: 10px;
}

@media screen and (min-width: 700px) {
	html {
		font-size: 16px;
	}
}
@media screen and (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
@media screen and (min-width: 1400px) {
	html {
		font-size: 22px;
	}
}
