.homepage {
	min-height: calc(100vh - var(--header-size));
	position: absolute;
	width: 100vw;
	background-size: cover;
	background-position: 68%;
	background-repeat: no-repeat;
	text-align: center;
	h1 {
		text-transform: uppercase;
		font-weight: 700;
		color: white;
		font-size: 3rem;
		margin: 2rem;
		text-shadow: 1px 1px var(--primary), 2px 2px var(--primary), 3px 3px #fe4902;
	}
}
